{% extends "base.html" %}
{% load i18n %}
{% load user_tags %}
{% load staticfiles %}
{% block title %}浏览{% endblock %}
{% block head_link %}
{% endblock %}
{% block scripts %}
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
{% endblock %}
{% block  main %}
    <div class="list">
    <h>部分参与事件：共参与{{ user.associate.all|length }}件</h>
        <ol>
            {% for event in user.associate.all|slice:":3" %}
                <li>
                    <div>
                        {% include 'eventinfo.html' %}
                    </div>
                </li>
            {% empty %}
                <p>无参与事件</p>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
